body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

.container-fluid {
  padding: 20px;
}

.code-section {
  position: relative;
}

h2 {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  margin-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

textarea {
  width: 100%;
  height: calc(100vh - 120px);
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

#preview {
  text-align: center;
  margin-top: 20px;
}

#preview-frame {
  border: 1px solid #ddd;
  border-radius: 5px;
}
